<%- include layouts/header.ejs %>
    
        <h2>This App is based on Nodejs Express and Cassandra DB for simple CRUD.</h2>
        <p>
        The first step is &nbsp;<a class="a-inside init" href="/cassandrainfo">initialize Cassandra Database</a>&nbsp;
        </p>
        
<%- include layouts/footer.ejs %>
